*.docx
.DS_Store

# 0623 tutor
0623/paper/
0623/example
0623/hello

# 0629 tutor
0629/ch2_data_types.pdf
0629/data_types
0629/variable_types
0629/character_constant
0629/define_constants
0629/math_operators
0629/relational_operators